/* Categories AutoComplete */
html body ul.ui-autocomplete{
	background:#EEEEEE;
	border-radius:0;
	list-style:none;
	border: 1px solid #a0bfbe;
	padding: 0px;
	z-index: 100!important;
	max-height:300px;
	overflow-x:hidden;
	overflow-y:auto;
}
html body ul.ui-autocomplete li a{
	color: #000000;
}
html body ul.ui-autocomplete li a.ui-state-hover{
	color:#000000;
	background:#DEF2FF;
	border-color:#C9E7FA;
}

ul.item-list {
width: 310px;
list-style: none;
padding: 0;
}

input.item-input {
display: block;
width: 290px!important;
height: 20px;
margin: 2px;
padding: 2px 10px 0px 4px!important;
background-color: #FFFFFF;
color: #000000;
border: 1px solid black;
border-radius: 5px;
font-size: 100%;
}

ul.no-margin{
	margin: 0;
}
ul.item-list{
	width: 310px;
	list-style:none;
	padding: 0;
}
ul.item-list li{
	display:none;
	width:290px;
	height: 20px;
	margin: 2px;
	padding: 3px 10px 0px 4px;
	background-color:#EEEEEE;
	color:#000000;
	border:1px solid black;
	border-radius:5px;
}
ul.item-list li:hover{
	background-color:#F8F8F8;
}
ul.item-list li.active{
	display:block;
}
ul.item-list li a.close{
	color:#FF0000;
	display:block;
	float:right;
	font-size:14px;
}
ul.item-list li a.close:hover{
	cursor: pointer;
}
ul.item-list li.input{
	display:block;
	margin:0px;
	padding:0px;
	background:none;
	border:none;
}
.ui-corner-all:hover
{
	cursor: pointer;
}

/* END Categories AutoComplete */



/* Drafts Lightbox */
#ViewDrafts
{
	font-size: .5em;
	
}

#ViewDrafts:hover
{
	font-size: .5em;
	cursor: pointer;
	color: blue;
}


#overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /*background: black url(../../css/images/spinner.gif) no-repeat scroll center center;*/
  background: black no-repeat scroll center center;
  z-index: 10002;
}

#lightbox {
  position: absolute;
  background: #fff;
  height: 150px;
  width: 400px;
  border:2px solid;
  border-radius:25px;
  -moz-border-radius:25px; /* Firefox 3.6 and earlier */
  padding: 10px;
  z-index: 10003;
  box-shadow: 10px 10px 5px #888888;
  -webkit-box-shadow: 10px 10px 5px #888888; /* Safari */
  color: black;
}

.draftRevert, .draftView
{
	font-size: .7em;
	color: blue;
}

.draftRevert:hover, .draftView:hover, #backToDrafts:hover, .closeLightBox:hover
{
	cursor: pointer;
	color: rgb(133, 128, 128);
}

#backToDrafts
{
	text-align: right;
	padding: 10px 20px 10px 0px;
	color: blue;	
}

.closeLightBox
{
	text-align: right;
	font-weight: bold;
	padding-right: 8px;
	font-size: 18px;
}

/* END Drafts Lightbox */
